# ============================================================
# FLIX API — Environment Variables Template
# Salin file ini menjadi .env dan isi nilainya
# cp .env.example .env
# ============================================================

# Database PostgreSQL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/flix_db?schema=public"

# JWT Secret (Ganti dengan string random yang panjang di production!)
JWT_SECRET="ganti_ini_dengan_string_rahasia_yang_panjang_minimal_32_karakter"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000
NODE_ENV=development
